<!DOCTYPE html>
<html lang="en" ng-app= "stats">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta charset="UTF-8">
  <title>Shot Tracking</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type = "text/css" href="css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/controllers/stats.js"></script>
  <script src="js/services/stats.js"></script>
  <script src= "js/directives/player.js"></script>
</head>
<body>
  <div class="page-header">
  <h1>Shots on Franklin <small>UNC Analytics</small></h1>
  <ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#/">Home</a></li>
</ul>
</div>
  <div class="container-fluid">
    <div class = "players" ng-view></div>

  </div>
</body>
</html>
