<!DOCTYPE html>
<html lang="en" ng-app= "stats">
<head>
  <meta charset="UTF-8">
  <title>Mahalo</title>
  <link rel="stylesheet" type = "text/css" href="css/styles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-alpha1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-resource.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
  <script src="js/app.js"></script>
  <script src="js/routes.js"></script>
  <script src="js/controllers/stats.js"></script>
  <script src="js/services/stats.js"></script>
  <script src= "js/directives/player.js"></script>
</head>
<body>
  <h1>It's a start</h1>
  <div ng-view></div>
</body>
</html>
