body{
  box-sizing: border-box;
}

h1{
  text-align: center;
}
.players{
  width: 80%;
  margin: auto;
}

.player {
  width: 95%;
  margin: auto;

}

.body{
  background: #fff;
}

.graph{
  max-width: 80%;
  margin-left: 120px;
  border: 2px solid black;
}

.player-image{
  max-width: 15%;
  max-height: 300px;
  padding-right: 5px;
  float: left;
  box-shadow: -11px 3px 20px #888888
}

.statBar{
  margin: 2px;
  margin-left: 10px;
}
